<%- include header %>
  <form method="post">
   <section> 
    标题: <br />
  </section>
  <br />
  <input type="text" name="title" /><br />
  <br />
    正文: <br />
  <section>  
    <br />
  <textarea name="post" rows="20" cols="100"></textarea><br />
  <br />
 </section>
  <section>
  <input type="submit" value="发表" />
</section>
  </form> 
<%- include footer %>
