<%- include header %>
  <form method="post">
  <section> 
    标题: <br />
  </section>

  <br />
  <input type="text" name="title" /><br />
  <br />
    正文: <br />

   <section>
    <br />
  <textarea id="editor_id" name="post" rows="30" cols="120">
  </section>

  </textarea><br />
  <br />
  <section>
  <input type="submit" value="发表" />
  </section>
  
  </form> 
<%- include footer %>
